/* Tyhjä aloituspohja: lisää omat tyylisi. */
body{
    background-color:rgb(49, 80, 80);
}
h1{
    text-align: center;
    background-color: rgb(90, 139, 141);
}
nav{
    visibility: visible;
    height:50px;
    text-align: center;
    font-size-adjust:200%;
    background-color: rgb(64, 99, 99);
}
footer{
    position: absolute;

}
main{
    align-self: center;
    width: 100%;
    height: 600px;
    background-color: rgb(158, 171, 184);
}